
.dang_ky_center {
  display: flex;
  justify-content: space-between;
}

.font_size {
  font-size: 18px;
  font-weight: 550;
}

.title {
  font-size: 16px;
  font-weight: 450;
}

.input_size {
  width: 563px;
  height: 39px;
  border: 1px solid #eeeeee;
}

#doi_Chieu {
  transform: rotateY(180deg);
}

.button_size {
  width: 139px;
  height: 39px;
  background: #2a2a2a;
  color: #fff;
  cursor: pointer;
}

.button_size:hover {
  background: #dc3333;
  border: none;
}

.button_size a {
  color: #fff;
  text-decoration: none;
}

.button {
  margin-top: 18px;
}

.input_size:focus {
  outline: none !important;
  border: 1px solid #fff;
  box-shadow: 0 0 10px #719ece;
}

.input-field {
  margin-top: 24px;
}

.input-field input {
  padding: 8px;
}

@media(min-width: 740px) and (max-width: 1023px) {


  
  html {

   
    display: block;
    
  }

  .input_width{
    width: 700px;
    margin: 6px 0px 26px 0px;
  }

  .font_size {

    margin-left: 16px;
  }

  .dang_ky_center {
    position: relative;
    display: block;
    height: 500px;
    margin: 26px 0px 16px 16px;
  }
  .input-field {

    margin-top: 6px;
  }

  .button {
    position: absolute;
    display: block;
    top: 448px;
  }

  .input-field-point {

    position: absolute;

    top: 70px;
  }

  .input-field-email {

    position: absolute;
    top: 148px;
    
  }

  .input-field-name {

    position: absolute;

    top: 300px;
  }

  .input-field-sdt {

    position: absolute;

    top: 225px;
  }

  .input-field-password {

    position: absolute;
    top: 380px;

  }

 

  .grid {

    margin-left: 16px;
  }
}


  @media (max-width: 740px) {

   html {
    display: block;
   }

   .dang_ky_center {
    position: relative;
    display: block;
    height: 500px;
    margin: 26px 0px 16px 16px;
  }
  .input-field {

    margin-top: 6px;
  }

  .button {
    position: absolute;
    display: block;
    top: 448px;
  }

  .input-field-point {

    position: absolute;

    top: 70px;
  }

  .input-field-email {

    position: absolute;
    top: 148px;
    
  }

  .input-field-name {

    position: absolute;

    top: 300px;
  }

  .input-field-sdt {

    position: absolute;

    top: 225px;
  }

  .input-field-password {

    position: absolute;
    top: 380px;

  }

  .input_width{
    width: 370px;
    margin: 6px 0px 26px 0px;
  }
  
  } 



