.section__content {
    width: 100%;
    background: rgb(255, 252, 252);
}

.title {
    display: flex;
    align-items: center;
    height: 48px;
    background: var(--menu-color);
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    padding: 20px;
    position: relative;
}

.title::before {
    content: "";
    border: #fff thin dashed;
    border-left: none;
    border-right: none;
    position: absolute;
    top: 2px;
    bottom: 2px;
    left: 1px;
    right: 1px;
}

.title__style {
    font-size: 14px;
    font-weight: 600;
    padding: 0;
    margin: 0;
}

.content {
    padding: 15px;
}

.item {
    display: flex;
    justify-content: unset;
    margin-top: 15px;
}

.icon {
    padding-right: 10px;
    margin-top: 8px;
}

.item__content-desc {
    margin-top: 5px;
}